

body {
  background-color: #e1c3c3;
  max-width: 1750px
}

.jumbotron {
  background-color: silver;
  background-size: 100% 75%;
}

.point {
  color:   #391326;
  font-style: italic;
}
h1 {
  color: maroon;
  font-style:oblique;
  text-align: center;
}

body {
    opacity: 0.7;
}
h2 {
  color: purple;
  text-align: center;
  word-wrap: normal;
}
h4 {
  color: purple;
  text-align: center;
  word-wrap: normal;
}
.intro {
  border-radius:70%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border-color: white;
  border-style: inset;
  border-width: 2px;
}

.well {
  border-radius: 20%;
  word-wrap: normal;
}
