body {
  background-color: indigo;
}

hr {
  width: 1300px;
  border-color: maroon;
  border-style: inset;
  border-width: 1px;
}



.intro {
  max-width: 1200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}



.intro h1 {
  color: maroon;
  text-decoration: none;
}
